body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 600px;
    margin: auto;
}

.card {
    border-radius: 10px;
    padding: 20px;
}

button:hover {
    background-color: darkgreen !important;
}

#result-container {
    transition: 0.5s ease-in-out;
}
